{% include "header.html" %}

<div class="d-flex">
        <!-- Sidebar -->
       {% include "sidebar.html" %}

        <!-- Completed tasks  -->
    <div class="flex-grow-1 p-3">
        <div class="list-group mb-4">
            <h2>Completed Tasks</h2>
            {% for items in completed_todos: %}
                <label class="list-group-item d-flex gap-3 p-3">
                    <span class="pt-1 form-checked-content">
                        <strong>{{items.title}}</strong>
                        <p>{{ items.to_to|replace('<p></p>', '')|safe }}</p>
                        <small class="d-block text-body-secondary">
                            <span class="pt-1 form-checked-content">
                                  <p>Due Date: {{items.date.strftime('%d-%m-%Y')}}</p>
                                  <p>Due Time: {{items.time.strftime('%I:%M %p')}}</p>
                                  <span class="badge bg-secondary">{{ items.list.name }}</span>
                                  <span class="badge bg-warning">
                                      <a class ="link-dark" href="#" onclick="deleteTodo({{ items.id }})">Delete</a>
                                  </span>
                                  <span class="badge bg-info">
                                      <a class ="link-dark" href="#" onclick="revertTodo({{ items.id }})">Restore</a>
                                  </span>
                            </span>
                        </small>
                    </span>
                </label>
            {% endfor %}
            </div>
        </div>

{{ bootstrap.load_js() }}
{% include "footer.html" %}